<footer>
    <div class="fot1 container-fluid">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <ul>
              <li>
                <a href="">Inicio</a>
              </li>
              <li>
                <a href="">Nuestros Autos</a>
              </li>
              <li>
                <a href="">Conocenos</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 d-flex justify-content-center redes">
              <div class="red-social eq-facebook">
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="red-social eq-twitter">
                  <a href="https://twitter.com/" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="red-social eq-linkedin">
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>
          </div>
        </div>
    </div>
    <div class="fot2 container-fluid">
      <div class="row">
        <div class="col-md-6 text-center">
          InversionesDyN©  2017 Todos los derechos reservados
        </div>
        <div class="col-md-6 text-center">
          inversionesdyn@gmail.com          +51 987501482
        </div>
      </div>
    </div>
</footer>

