<div class="container-header-slider">
  <app-header></app-header>
  <div class="container-slider-imgs">
          <ngb-carousel>
                  <ng-template ngbSlide>
                    <img src="./assets/img/car2.jpg" alt="Random first slide">
                    <div class="carousel-caption">
                      <h1>:::( Autos para Eventos, matrimonios,quince años):::</h1>
                      <p>Los servicios de InversionesDyN se ofrecen a cualquier punto de Lima y del Callao.
                        Sin duda, la empresa que necesitan en un día tan especial.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img src="./assets/img/car3.jpg"  alt="Random second slide">
                    <div class="carousel-caption">
                      <h1>:::( Autos para Eventos, matrimonios,quince años):::</h1>
                      <p>InversionesDyN te acompaña en un fecha tan especial para ti</p>
                    </div>
                  </ng-template>
                  <!-- <ng-template ngbSlide>
                    <img src="./assets/img/maquinaria.jpg" alt="Random third slide">
                    <div class="carousel-caption">
                      <h3>And no wrap after last slide.</h3>
                      <p>This carousel uses customized default values.</p>
                    </div>
                  </ng-template> -->
                </ngb-carousel>
  </div>
</div>

<div class="container-whatsapp">
  <a href="https://api.whatsapp.com/send?phone=51957166065"><i class="fa fa-whatsapp" aria-hidden="true"></i>
  </a>
</div>


<div class="container-autos">
  <h1>Autos Recomendados</h1>
  <div class="row">
      <div class="col-12  col-lg-6">
          <div class="card-container">
              <div class="card-img">
                <img src="./assets/img/NissanVersa/1.jpg" alt="nissanversa" class="img-fluid">
                <div class="cant-img">
                    <span>3</span>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
              </div>
              <div class="card-info">
                <h3>Nissan Versa</h3>
                <p class="text-center">DyN te acompaña en un dia tan especial</p>
                <div class="info-stars">
                    <p class="second-text">Lima - Callao</p>
                    <div class="container-stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>                  
                    </div>
                </div>
              </div>
              <div class="card-acciones">
                <div class="row">
                  <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                  <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-12  col-lg-6">
          <div class="card-container">
              <div class="card-img">
                <img src="./assets/img/Hyundai30/1.jpg" alt="hyundaii30" class="img-fluid">
                <div class="cant-img">
                    <span>4</span>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
              </div>
              <div class="card-info">
                <h3>Hyundai i30</h3>
                <p class="text-center">DyN te acompaña en un dia tan especial</p>
                <div class="info-stars">
                    <p class="second-text">Lima - Callao</p>
                    <div class="container-stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>                  
                    </div>
                </div>
              </div>
              <div class="card-acciones">
                <div class="row">
                  <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                  <div class="col-6"><a class="enlace-accion" data-toggle="modal" data-target="#exampleModal">Solicitar</a></div>
                </div>
              </div>
            </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-container">
        <div class="card-img">
          <img src="./assets/img/ToyotaCorolla/1.jpg" alt="toyotacorolla" class="img-fluid">
          <div class="cant-img">
              <span>4</span>
              <i class="fa fa-camera" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-info">
          <h3>Toyota Corolla</h3>
          <p class="text-center">DyN te acompaña en un dia tan especial</p>
          <div class="info-stars">
              <p class="second-text">Lima - Callao</p>
              <div class="container-stars">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>                  
              </div>
          </div>
        </div>
        <div class="card-acciones">
          <div class="row">
            <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
            <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12  col-md-6 col-lg-4">
        <div class="card-container">
            <div class="card-img">
              <img src="./assets/img/KiaCerato/1.jpg" alt="kiacerato" class="img-fluid">
              <div class="cant-img">
                  <span>3</span>
                  <i class="fa fa-camera" aria-hidden="true"></i>
              </div>
            </div>
            <div class="card-info">
              <h3>Kia Cerato</h3>
              <p class="text-center">DyN te acompaña en un dia tan especial</p>
              <div class="info-stars">
                  <p class="second-text">Lima - Callao</p>
                  <div class="container-stars">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-half-o" aria-hidden="true"></i>                      
                  </div>
              </div>
            </div>
            <div class="card-acciones">
              <div class="row">
                <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-12  col-md-6  col-lg-4">
        <div class="card-container">
            <div class="card-img">
              <img src="./assets/img/HyundaiVeloster/2.jpg" alt="hyundaiveloster" class="img-fluid">
              <div class="cant-img">
                  <span>6</span>
                  <i class="fa fa-camera" aria-hidden="true"></i>
              </div>
            </div>
            <div class="card-info">
              <h3>Hyundai Veloster</h3>
              <p class="text-center">DyN te acompaña en un dia tan especial</p>
              <div class="info-stars">
                  <p class="second-text">Lima - Callao</p>
                  <div class="container-stars">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-half-o" aria-hidden="true"></i>                      
                  </div>
              </div>
            </div>
            <div class="card-acciones">
              <div class="row">
                <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <a href="" class="ver-todos col-md-6">
      Ver todos nuestros autos
    </a>
  </div>
</div>

<app-footer></app-footer>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Solicitar Informacion </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
                <label for="recipient-name" class="form-control-label">Nombres:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="form-control-label">Fecha del evento:</label>
              <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="form-control-label">Telefono:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Descripción:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-enviar">Enviar</button>
      </div>
    </div>
  </div>
</div>