<app-header></app-header>
<br>
<div class="container">
        <div class="row">
                <div class="col-md-4">
                  <div class="razones">
                      <i class="fa fa-shield" aria-hidden="true"></i>
                      <hr>
                      <h4>Seguridad</h4>          
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="razones">
                      <i class="fa fa-handshake-o" aria-hidden="true"></i>
                      <hr>
                      <h4>Confianza</h4>          
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="razones">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      <hr>
                      <h4>Puntualidad</h4>          
                  </div>
                </div>
              </div>
</div>
<div class="container-autos">
  <h1>Todos nuestros autos</h1>
  <div class="row">
      <!-- Hyundai Accent -->
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/HyundaiAccent/1.jpg" alt="hyundaiaccent" class="img-fluid">
                      <div class="cant-img">
                          <span>3</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Hyundai Accent</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!--/ Hyundai Accent -->
    
      <!-- Hyundai Elantra -->      
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/HyundaiElantra/1.jpg" alt="hyundaielantra" class="img-fluid">
                      <div class="cant-img">
                          <span>4</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Hyundai Elantra</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!-- /Hyundai Elantra -->      
        
      <!-- Hyundai i30 -->            
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/Hyundai30/1.jpg" alt="hyundaii30" class="img-fluid">
                      <div class="cant-img">
                          <span>4</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Hyundai i30</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!-- /Hyundai i30 -->            
        
      <!-- Hyundai Veloster -->                  
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/HyundaiVeloster/1.jpg" alt="hyundaiveloster" class="img-fluid">
                      <div class="cant-img">
                          <span>6</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Hyundai Veloster</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!-- /Hyundai Veloster -->                  
        
      <!-- Kia Cerato -->                        
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/KiaCerato/1.jpg" alt="kiacerato" class="img-fluid">
                      <div class="cant-img">
                          <span>3</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Kia Cerato</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!-- /Kia Cerato -->                  
        
      <!-- Nissan Versa -->                              
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/NissanVersa/1.jpg" alt="nissanversa" class="img-fluid">
                      <div class="cant-img">
                          <span>3</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Nissan Versa</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!-- /Nissan Versa -->                        
        
      <!-- Toyota Corolla -->                              
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/ToyotaCorolla/1.jpg" alt="toyotaCorolla" class="img-fluid">
                      <div class="cant-img">
                          <span>4</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Toyota Corolla</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
      <!-- /Toyota Corolla -->                              
       
      <!-- Toyota Yaris -->                              
        <div class="col-12 col-md-6 col-lg-4">
                <div class="card-container">
                    <div class="card-img">
                      <img src="./assets/img/ToyotaYaris/1.jpg" alt="toyotayaris" class="img-fluid">
                      <div class="cant-img">
                          <span>4</span>
                          <i class="fa fa-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <h3>Toyota Yaris</h3>
                      <p class="text-center">DyN te acompaña en un dia tan especial</p>
                      <div class="info-stars">
                          <p class="second-text">Lima - Callao</p>
                          <div class="container-stars">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>                  
                          </div>
                      </div>
                    </div>
                    <div class="card-acciones">
                      <div class="row">
                        <div class="col-6"><a class="enlace-accion" href="">Ver más</a></div>
                        <div class="col-6"><a class="enlace-accion" href="">Solicitar</a></div>
                      </div>
                    </div>
                  </div>
        </div>
  </div>
</div>
<app-footer></app-footer>